Gemfile.lock
.bundle/
log/*.log
pkg/
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*.swo
*.swn
*~
*.gem
.DS_Store
Capfile
.sass-cache/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/config/database.yml
spec/dummy/.sass-cache
spec/dummy/coverage
spec/lib/tmp
coverage
